{% extends "skeleton.html" %}
{% block content %}

<div class=container>
  
  	<div class="page-header">    
		<h1>My CV <small><span class="glyphicon glyphicon-book"></span></small>
		<a href="https://drive.google.com/uc?export=&confirm=no_antivirus&id=0B-fIBmV94C4abUtERjRmOV9haE0" target="_blank" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
		</h1>
  	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-inverse">
				<div class="panel-heading"><h3>Education</h3></div>
				<div class="panel-body">
					<h3><b>Current</b><br><small><b>Max-Planck-Institut f&uuml;r extraterrestrische Physik<br> Astronomy Ph.D program</b></small></h3>
					<ul>
						<li>
							<b>May 2011</b> PhD in Astronomy; degree expected in September 2014<br>
							Ludwig Maximilians-University, Munich Germany<br><br>
	  						<i><FONT COLOR="blue">Research project</FONT></i>: "Dynamics of the halo of M87 using Planetary Nebulae as kinematic tracers"<br>
	  						<i><FONT COLOR="blue">Supervisor &amp; Co-supervisor</FONT></i>: Prof. Dr. Ortwin Gerhard, Dr. Magda Arnaboldi<br>
						</li>
				</div>
				<hr>
				<div class="panel-body">
					<h3><b>Past</b><br>
					<small><b>University of Naples<br> Astrophysics and Space Sciences Msci</b></small></h3>
					<ul>
						<li>
							<b>2008 - 2010</b> Master in Astrophysics<br>
							110/110 cum laude (1st class with honours)<br>
	   						University of Naples, Italy<br><br>
							<i><FONT COLOR="blue">Average grade of exams</FONT></i>: 29.8/30, 100% score in 9/10ths of courses taken<br>
	 						<i><FONT COLOR="blue">Experimental Master Project</FONT></i>: "Physical Morphology of S0 galaxies"<br>
							<i><FONT COLOR="blue">Supervisor &amp; Co-supervisors</FONT></i>: Prof. Dr. Massimo Capaccioli, Dr. Enrica Iodice, Dr. Giovanni Covone<br>
						</li>
					</ul>

					<h3><small><b>University of Naples<br> Physics Bci</b></small></h3>
					<ul>
						<li> <b>2005 - 2008</b> Bachelor in Physics<br>
							110/110 (1st class)<br>
							University of Naples, Italy<br><br>
							<i><FONT COLOR="blue">Average grade of exams</FONT></i>: 28.2/30, 100% score in more than 1/2 of courses taken<br>
							<i><FONT COLOR="blue">Experimental Master Project</FONT></i>: "Dark Matter and Rotational Curves in Spiral Galaxies"<br>
							<i><FONT COLOR="blue">Supervisor &amp; Co-supervisor</FONT></i>: Prof. Dr. Massimo Capaccioli, Dr. Nicola R. Napolitano<br>
						</li>
					</ul>

				</div>
			</div> <!-- end panel -->
		</div> <!-- end column -->
	</div> <!-- end row -->



	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3>Software and Programming</h3></div>
					<table class="table table-no-border">
						<colgroup>
						<col class="col-xs-2">
						<col class="col-xs-10">
					</colgroup>
					
					<tr>
						<td><b>IDL:</b></td>
						<td>Main language used for which I have vast expertise. Highly experienced with Astronomy and Coyote libraries.</td>
					</tr>
					<tr>
						<td><b>C/C++:</b></td>
						<td>Proficiency with language.</td>
					</tr>
					<tr>
						<td><b>Bash:</b></td>
						<td>Experience in scripting automation.</td>
					</tr>
					<tr>
						<td><b>LaTeX:</b></td>
						<td>Extensive use.</td>
					</tr>
					<tr>
						<td><b>IRAF:</b></td>
						<td>Expertise with both GUI and Command Language (CL), specifically with the photometric and spectroscopic subroutines of IRAF.</td>
					</tr>
					<tr>
						<td><b>SExtractor:</b></td>
						<td>Highly experienced.</td>
					</tr>
					<tr>
						<td><b>MIDAS:</b></td>
						<td>Proficient.</td>
					</tr>

				</table>
			</div> <!-- end panel -->
		</div> <!-- end column -->
	</div> <!-- end row -->




	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3>Conferences, Workshops, Seminars</h3></div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>
							Accepted to the 2014 Winter Conference "Unveiling The Formation Of Massive"
						</li>
						<hr>
						<li>
	  						"Galaxies - Theoretical And Observational Challenges", Aspen Center for Physics.
						</li>
						<hr>
						<li>
							Accepted to the "The Extragalactic Distance Scale" Excellence Cluster, Garching, June 2014.
						</li>
						<hr>
						<li>
							Invited for seminar talk at OPINAS , January 2014.
						</li>
						<hr>
						<li>
							Invited to the PNs workshop, Lorentz Center, Leiden, February 2013.
						</li>
						<hr>
						<li>
							Attended the OPINAS Rinberg Meetinng, April 2012.
						</li>
					</ul>
				</div>
			</div> <!-- end panel -->
		</div> <!-- end column -->
	</div> <!-- end row -->


	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Language Skills</div>
				<div class="panel-body">
					<table class="table">
					<thead>
						<tr>
							<th>Language</th>
							<th>Level</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Italian</td>
							<td>Native language</td>
						</tr>
						<tr>
							<td>English</td>
							<td>Excellent knowledge</td>
						</tr>
						<tr>
							<td>German</td>
							<td>Basic knowledge</td>
						</tr>
					</tbody>

					</table>
				</div>
			</div> <!-- end panel -->
		</div> <!-- end column -->
	</div> <!-- end row -->

</div>

{% endblock %}
