{% extends "skeleton.html" %}
{% block content %}

<style>
    body {
  background: url('{{ads_url}}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color:#000000;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
</style>

<div class=container>
  <br><br><br><br>
  <div class="row-fluid">
      <h1 class="pull-center"><strong>I am Alessia Longobardi<br> a scientific researcher in astronomy</strong></h1>
      <p class="lead pull-center"></p>
  </div>  

  <div class="footer">
    
  </div>
</div>

<script>

{% endblock %}
