{% extends "skeleton.html" %}
{% block content %}

<div class=container>
  

  <div class="row-fluid">
    
    <div class="page-header">
      <h1>My Publications <small><span class="glyphicon glyphicon-pencil"></span></small></h1>
      <div class="list-group">
        <a href="#one" class="list-group-item active">Refereed Publications</a>
        <a href="#two" class="list-group-item">Conference proceedings</a>
      </div>
    </div>  

    <hr>


    <h2>Refereed publications</h2>
      <div id="one">
         <FONT COLOR="blue">1</FONT>. <b>A. Longobardi</b>, M. Arnaboldi, O. Gerhard et al.<br>
                                       <i>The outer regions of the giant Virgo galaxy M87. II. Kinematical separation of its stellar halo and intracluster light.</i><br>
                                       submitted to A&amp;A <br><br>

         <FONT COLOR="blue">2</FONT>. <b>A. Longobardi</b>, M. Arnaboldi, O. Gerhard et al.<br>
                                       <i>The planetary nebula population in the halo of M87</i><br>
                                       <a href="http://www.aanda.org/articles/aa/pdf/2013/10/aa21652-13.pdf" target="_blank">A&amp;A 558, A42 (2013), arXiv:1309.0006</a>
      </div>


      <div id="two">
        <h2>Conference proceedings</h2>
          <FONT COLOR="blue">1</FONT>. M. Arnaboldi, <b>A. Longobardi</b>, O. Gerhard et al.<br>
                                       <i>The planetary nebulae luminosity function and distances to the Virgo, Hydra i, and Coma Clusters</i><br>
                                       <a href="http://dx.doi.org/10.1017/S1743921312021564" target="_blank">AUS 289, 287A (2013)</a><br>
      </div>

    </div> <!-- end row -->

</div> <!-- end container -->

<script>
  $('.list-group-item').on('click',function(e){
    var previous = $(this).closest(".list-group").children(".active");
    previous.removeClass('active'); // previous list-item
    $(e.target).addClass('active'); // activated list-item
  });
</script>

{% endblock %}
