{% extends "skeleton.html" %}
{% block content %}

<style>
    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */

    .carousel {
      margin-bottom: 2px;
      border: 5px solid gray;
      width: 600px;
    }
/*    
    .carousel .container {
      position: relative;
      z-index: 9;
      width: 200px;
    }

    .carousel-control {
      height: 45px;
      margin-top: 0;
      font-size: 80px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: black;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0px;
      left: 0px;
      
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 0px;
      margin-top: 0px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 0px;
    }
    */
/*    body {
  background: url('http://apod.nasa.gov/apod/image/1408/shuttleapproaching_nasa_6048.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}*/
</style>

    <!-- Carousel
================================================== -->
<div class=container>
  

  <div class="row-fluid">
    
    <div class="page-header">
      <h1>My Publications <small><span class="glyphicon glyphicon-pencil"></span></small></h1>
      <div class="list-group">
      <a href="#one" class="list-group-item active">Refereed Publications</a>
      <a href="#two" class="list-group-item">Conference proceedings</a>
    </div>

  </div>  

  <hr>


      <h2>Refereed publications</h2>
      <div id="one">
         <FONT COLOR="black">1</FONT>. Refereed publication<br>
      </div>


      <div id="two">
        <h2>Conference proceedings</h2>
          <FONT COLOR="black">1</FONT>. Conference proceeding<br>
      </div>
    </div>


</div>

<script>
  $('.list-group-item').on('click',function(e){
    var previous = $(this).closest(".list-group").children(".active");
    previous.removeClass('active'); // previous list-item
    $(e.target).addClass('active'); // activated list-item
  });
</script>

{% endblock %}
